<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link href="/modules/css/base.css" rel="stylesheet" />
    <link href="~/modules/mui/css/mui.min.css" rel="stylesheet" />
    <link href="/modules/css/layout.css" rel="stylesheet" /> 
    <link href="/modules/css/iconfont/iconfont.css" rel="stylesheet" />
    <link href="/modules/mui/css/icons-extra.css" rel="stylesheet" />
    <link rel="shortcut icon" href="/modules/images/logo_login.png">
    @RenderSection("css", false)

    <script src="/Scripts/jquery-1.11.1.js"></script>
    <script src="/Scripts/vue.js"></script>
    <script src="/modules/mui/js/mui.min.js"></script>
    <script type="text/javascript" src="/Scripts/sea.js"></script>
    <script type="text/javascript" src="/Scripts/sea-config.js"></script>
    <script src="/modules/scripts/prototype.js"></script>
    <script src="/modules/scripts/common.js"></script>
</head>
<body>
    @RenderBody()

    @RenderSection("scripts", false)
    <script>
    $(function () {
        $("#footer a[name='@ViewBag.PageName']").addClass("mui-active");

        $("#footer a").on("tap", function () {
            location.href = $(this).data("href");
        });

        
    });
    </script>
</body>
    
</html>
