@{
    Layout = null;
    var task = (IntFactory.Sdk.TaskDetailEntity)ViewBag.Task;
    var materList = ViewBag.List;
    string[] imagesUrl = { };
    if(task.order.orderImages.Length!=0)
    {
        imagesUrl = task.order.orderImages.Trim(',').Split(',');      
    }
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0" />
    <title>任务详情</title>
    <link href="~/modules/css/common.css" rel="stylesheet" />
    <link href="~/modules/css/layout.css" rel="stylesheet" />
    <link href="~/modules/css/task/detail.css" rel="stylesheet" />
    <link href="~/modules/plug/touchSlider/css/sytyle.css" rel="stylesheet" />
    <link href="~/modules/iconfont/ux_1460342755_7796638/iconfont.css" rel="stylesheet" />
    <link href="~/modules/css/task/detailmedia.css" rel="stylesheet" />
    <link href="~/modules/plug/dataTimePicker/dev/css/mobiscroll.core-2.5.2.css" rel="stylesheet" />
    <link href="~/modules/plug/dataTimePicker/dev/css/mobiscroll.animation-2.5.2.css" rel="stylesheet" />
</head>
    <script src="~/Scripts/jquery-1.11.1.js"></script>
    <script src="~/modules/plug/touchSlider/js/jquery-1.js"></script>
    <script src="~/modules/plug/touchSlider/js/jquery_002.js"></script>
    <script src="~/modules/plug/touchSlider/js/jquery.js"></script>
    <script src="~/modules/plug/doT.js"></script>
    <script src="~/modules/plug/dataTimePicker/dev/js/mobiscroll.core-2.5.2.js"></script>
    <script src="~/modules/plug/dataTimePicker/dev/js/mobiscroll.core-2.5.2-zh.js"></script>
    <script src="~/modules/plug/dataTimePicker/dev/js/mobiscroll.datetime-2.5.1.js"></script>
    <script src="~/modules/plug/dataTimePicker/dev/js/mobiscroll.datetime-2.5.1-zh.js"></script>
    <script src="~/Scripts/sea.js"></script>
    <script src="/Scripts/sea-config.js"></script>
    <script type="text/javascript">
        $(function () {

            seajs.use("/modules/scripts/task/detail", function (taskDetail) {
                
                taskDetail.init(

                    '@task.orderID',
                    '@task.stageID',
                    '@task.order.platemaking',
                    '@task.mark',
                    '@(string.IsNullOrEmpty(task.order.plateRemark)?"暂无工艺信息":task.order.plateRemark)',
                    '@task.taskID',
                    '@materList'
                    
                 );

            });
           
        })
    </script>
<body>
    <!--头部-->
    <header>
        <a class="btn-return"><i class="return-icon iconfont">&#xe60a;</i></a>
        <div class="task-text">任务详情</div>
        <div class="task-accept">
            @{
                if(task.finishStatus==0){
                    <input type="text" class="appDateTime" name="appDateTime" value="接受任务" />
                }
                else if (task.finishStatus == 1)
                {
                    <span>标记完成</span>;
                }
                else if (task.finishStatus == 2)
                {
                    <span>已完成</span>;
                }
             }  

        </div>
    </header>


    <!--焦点图-->
    <div class="main_visual">
        <div class="task-msg">@task.title</div>
        
        <div class="flicking_con">
            @{
                if(imagesUrl.Length!=0)
                {
                    for (int i = 0; i < imagesUrl.Length; i++)
                    {
                        if (i == 0)
                        {
                            <a class="on" href="javascript:void(0);"></a>
                        }
                        else
                        {
                            <a href="javascript:void(0);"></a>
                        }
                    }  
                }
            }
        </div>

        <div class="main_image">
            <ul>
                @{
                    if (imagesUrl.Length!=0)
                    {
                        for (int i = 0; i < imagesUrl.Length; i++)
                        {
                           <li><img src="http://dev.90cloudsales.com@(imagesUrl[i])"></li>
                        }  
                    }
                }
            </ul>
        </div>

    </div>
    
    <!--任务信息-->
    <div class="task-info">
        <div class="main-info">
             <ul class="left-task-info">
                <li><span>任务编号</span><span class="setindent">:</span><span class="task-code">@task.taskCode</span></li>
                <li><span>接受时间</span><span class="setindent">:</span><span class="accept-time">@(string.IsNullOrEmpty(task.acceptTime) ? "未接收" : task.acceptTime)</span></li>
                <li><span>完成时间</span><span class="setindent">:</span><span class="complete-time">@(string.IsNullOrEmpty(task.completeTime) ? "未完成" : task.completeTime)</span></li>
                <li><span>到期时间</span><span class="setindent">:</span><span class="end-time">@(string.IsNullOrEmpty(task.endTime) ? "未设置" : task.endTime)</span></li>
            </ul>
            
             <ul class="right-task-info">
                <li>
                    <div class="owner-msg"><span>负责人</span><span class="setindent">:</span><span class="owner-name">@task.ownerUser.name</span></div>
                   
                    <div class="dy-info">
                        <a href="javascript:void(0);"><span class="ico-dy iconfont">&#xe612;</span></a>
                        <span class="order-type">
                            @{
                                if (task.orderType == 1)
                                {
                                    @("打样")
                                }
                                else if (task.orderType == 2)
                                {
                                    @("大货")
                                }
                             }
                        </span>

                    </div>
                </li>
                <li><span>任务</span><span class="setindent">:</span><span class="mark">@task.title</span></li>
            </ul>
        </div>
        <div class="order-need">
            <span>订单需求</span>
            <span class="setindent">:</span>
            <span class="order-text">@task.order.remark</span>
        </div>
        <div style="clear:both;"></div>
    </div>

    <!--菜单-->
    <nav>
        <ul>
            <li class="talk menuchecked" data-classname="talk-status"><i class="iconfont">&#xe610;</i>讨论</li>
            <li class="buy-plan" data-classname="shop-status"><i class="iconfont">&#xe614;</i>材料采购计划</li>
            <li class="print " data-classname="print-status"><i class="iconfont">&#xe617;</i>制版</li>
            <li class="log" data-classname="log-status"><i class="iconfont">&#xe61a;</i>日志</li>
        </ul>
    </nav>

    <!--显示区域-->
    <div class="main-box" data-status="4">

        <!--讨论模块-->
        <div class="talk-status">

        <!--讨论内容-->
        <div class="talk-content">
            <div class="talk-main">

            </div>
        </div>
       
        <div class="noreply-msg">暂无数据！</div>         
        <!--回复-->
        <div class="return-msg">
            <div class="box-returnmsg">
                <input type="text" placeholder="输入讨论内容" class="txt-talkcontent" />
            </div>
            <div class="box-submit">
                <input type="button" value="提交" class="btn-submit" />
            </div>
        </div>

        </div>

        <!--材料采购计划模块-->
        <div class="shop-status hide">


        </div>

        <!--制版模块-->
        <div class="print-status hide">
            <h1 class="plate-remark-msg">制版信息</h1>
            <div class="platemakingBody">
                

            </div>

            <h1 class="plate-remark-msg">工艺说明</h1>
            <div class="plate-remark">

            </div>
            
        </div>

        <!--日志模块-->
        <div class="log-status hide">
            
                
        </div>
         
        <div class="loading-lump"><img src="~/modules/images/img.gif" /></div>
           

    </div>
   
</body>
</html>
