@using System.Web.Script.Serialization;
@{
    var task = (IntFactory.Sdk.TaskDetailEntity)ViewBag.Task;
    ViewBag.Title = "任务详情-" + task.title;
    
    JavaScriptSerializer serializer = new JavaScriptSerializer();
    var JsonTask= serializer.Serialize(task);
    var UserID = ViewBag.UserID;
    var materialList = ViewBag.MaterialList;
    var userStatus = UserID == task.ownerUser.userID ? true : false;
    string[] imagesUrl = { };
    if(task.order.orderImages.Length!=0)
    {
        imagesUrl = task.order.orderImages.Trim(',').Split(',');      
    }


}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0" />
    <title></title>
    <link href="~/modules/css/task/detail.css" rel="stylesheet" />
    <link href="~/modules/plug/touchSlider/css/style.css" rel="stylesheet" />
    <link href="~/modules/css/task/detailmedia.css" rel="stylesheet" />
    <link href="~/modules/plug/dataTimePicker/dev/css/mobiscroll.core-2.5.2.css" rel="stylesheet" />
    <link href="~/modules/plug/dataTimePicker/dev/css/mobiscroll.animation-2.5.2.css" rel="stylesheet" />
</head>
    <script src="~/modules/scripts/font.js"></script>
    <script src="~/modules/plug/touchSlider/js/jquery-1.js"></script>
    <script src="~/modules/plug/touchSlider/js/jquery_002.js"></script>
    <script src="~/modules/plug/touchSlider/js/jquery.js"></script>
    <script src="~/modules/plug/dataTimePicker/dev/js/mobiscroll.core-2.5.2.js"></script>
    <script src="~/modules/plug/dataTimePicker/dev/js/mobiscroll.core-2.5.2-zh.js"></script>
    <script src="~/modules/plug/dataTimePicker/dev/js/mobiscroll.datetime-2.5.1.js"></script>
    <script src="~/modules/plug/dataTimePicker/dev/js/mobiscroll.datetime-2.5.1-zh.js"></script>
    <script type="text/javascript">
        $(function () {
            
            seajs.use("/modules/scripts/task/detail", function (taskDetail) {
                taskDetail.init(
                    '@(imagesUrl.Length>1?"1":"0")',
                    '@UserID',
                    '@materialList',
                    '@userStatus',
                    '@JsonTask'
                 );
            });
           
        })
    </script>

<body>

    <!--头部-->
    <header>
        <a class="btn-return" href = "javascript:if(history.length>1){ history.go(-1);} else{}"><i class="return-icon iconfont">&#xe60a;</i></a>
        <div class="task-text">任务详情</div>
        <div class="task-accept">
            @{
                if (task.finishStatus == 2)
                {
                    <span>已完成</span>
                }
                else
                {
                    if (!userStatus)
                    {
                            <span>@(task.finishStatus == 0 ? "未接收" : task.finishStatus == 1 ? "进行中" : "")</span>
                    }
                    else
                    {
                        if (task.finishStatus == 0)
                        {
                                <input type="text" class="btn-acceptTaskTime" value="接受任务"  />              
                        }
                        else if (task.finishStatus == 1)
                        { 
                                <input type="button" class="btn-finishTask"  value="标记完成"  />   
                        }
                    }
                }
             }  
        </div>
    </header>

    <!--焦点图-->
    <div class="main_visual">
        <div class="task-msg">@task.title</div>
        
        <div class="flicking_con">
            @{
                if (imagesUrl.Length > 1)
                {
                    for (int i = 0; i < imagesUrl.Length; i++)
                    {
                        <a class="@(i == 0 ? "on" : "")" href="javascript:void(0);"></a>
                    }
                }
            }
        </div>

        <div class="main_image">
            <ul>
                @{
                    if (imagesUrl.Length > 0)
                    {
                        for (int i = 0; i < imagesUrl.Length; i++)
                        {
                           <li><img src="@ViewBag.DomainUrl@(imagesUrl[i])"></li>
                        }
                    }
                }
            </ul>
            <div class="clear"></div>
        </div>
    </div>
    
    <!--任务信息-->
    <div class="task-info">
        <div class="main-info">
             <ul class="left-task-info">
                <li><span>任务编号</span><span class="setindent">:</span><span class="task-code">@task.taskCode</span></li>
                <li><span>接受时间</span><span class="setindent">:</span><span class="accept-time">@(string.IsNullOrEmpty(task.acceptTime) ? "未接收" : task.acceptTime)</span></li>
                <li><span>到期时间</span><span class="setindent">:</span><span class="end-time">@(string.IsNullOrEmpty(task.endTime) ? "未设置" : task.endTime)</span></li>
                <li><span>完成时间</span><span class="setindent">:</span><span class="complete-time">@(string.IsNullOrEmpty(task.completeTime) ? "未完成" : task.completeTime)</span></li>
            </ul>

             <ul class="right-task-info">
                <li>
                    <div class="owner-msg"><span>负责人</span><span class="setindent">:</span><span class="owner-name">@task.ownerUser.name</span></div>
                   
                    <div class="dy-info">
                        <a href="javascript:void(0);">
                            @{
                               
                                if (task.orderType == 1)
                                {
                                    <i class="iconfont">&#xe612;</i>
                                }
                                else
                                {
                                    <i class="iconfont">&#xe60f;</i>
                                }
                            }
                        </a>

                        <span>
                            @(task.orderType == 1 ? "打样" : task.orderType == 2 ? "大货" : "")
                        </span>

                    </div>
                </li>
            </ul>
        </div>

        <div class="order-need">
            <div class="text-orderneed">订单需求</div><div class="setindent">:</div>
            <div class="pBottom10 mTop10">@task.order.remark</div>
        </div>
        <div class="clear"></div>
    </div>

    <!--菜单-->
    <nav>
        <ul>
            <li class="talk menuchecked" data-classname="talk-status"><i class="iconfont">&#xe610;</i>讨论</li>
            <li class="buy-plan" data-classname="shop-status"><i class="iconfont">&#xe647;</i>材料采购计划</li>
            <li class="print " data-classname="print-status"><i class="iconfont">&#xe617;</i>制版</li>
            <li class="log" data-classname="log-status"><i class="iconfont">&#xe633;</i>日志</li>
        </ul>
        <div class="clear"></div>
    </nav>

    <!--显示区域-->
    <div class="main-box" data-status="4">

        <!--讨论模块-->
        <div class="talk-status">

        <!--讨论内容-->
        <div class="talk-content">
            <div class="talk-main">

            </div>
        </div>
        <div style="clear:both;"></div>
        <div class="noreply-msg">暂无数据</div>         
        <!--回复-->
        <div class="return-msg">
            <div class="box-returnmsg">
                <input type="text" placeholder="输入讨论内容" class="txt-talkcontent" />
            </div>
            <div class="box-submit">
                <input type="button" value="提交" class="btn-submit" />
            </div>
        </div>

        </div>

        <!--材料采购计划模块-->
        <div class="shop-status hide"></div>

        <!--制版模块-->
        <div class="print-status hide">

            <h1 class="plate-remark-msg">制版信息</h1>
            <div class="platemakingBody">@(new MvcHtmlString(Server.UrlDecode(task.order.platemaking)))</div>

            <h1 class="plate-remark-msg">工艺说明</h1>
            <div class="plate-remark">@(new MvcHtmlString(string.IsNullOrEmpty(task.order.plateRemark)?"暂无工艺说明":Server.UrlDecode(task.order.plateRemark)))</div>
            
        </div>

        <!--日志模块-->
        <div class="log-status hide"></div>
         
        <div class="loading-lump hide"><img src="~/modules/images/img.gif" /></div>
           
    </div>

    <div class="getback">
        <div class="iconfont-back iconfont">&#xe643;</div>
    </div>

</body>
</html>
