@using System.Web.Script.Serialization;
@{
    var task = (IntFactory.Sdk.TaskDetailEntity)ViewBag.Task;
    ViewBag.Title = "任务详情-" + task.title;
    
    JavaScriptSerializer serializer = new JavaScriptSerializer();
    var taskJson= serializer.Serialize(task);
    var UserID = ViewBag.UserID;
    var ModuleName=ViewBag.ModuleName;
    var isOwner = task.ownerUser.userID.Equals(UserID, StringComparison.OrdinalIgnoreCase) ? true : false;
    string[] imagesUrl = { };
    if(task.order.orderImages.Length!=0)
    {
        imagesUrl = task.order.orderImages.Trim(',').Split(',');      
    }
}
@section css{
    <link href="/modules/css/task/detail.css" rel="stylesheet" />
    <link href="/modules/plug/touchSlider/css/style.css" rel="stylesheet" />
    @{
        if(task.finishStatus==0){
        <link href="/modules/plug/dataTimePicker/dev/css/mobiscroll.core-2.5.2.css" rel="stylesheet" />
        <link href="/modules/plug/dataTimePicker/dev/css/mobiscroll.animation-2.5.2.css" rel="stylesheet" />
        }
      }
    }
@section scripts{
    <script src="/modules/plug/touchSlider/js/jquery-1.js"></script>
    <script src="/modules/plug/touchSlider/js/jquery_002.js"></script>
    <script src="/modules/plug/touchSlider/js/jquery.js"></script> 
    @if(task.finishStatus==0){
        <script src="/modules/plug/dataTimePicker/dev/js/mobiscroll.core-2.5.2.js"></script>
        <script src="/modules/plug/dataTimePicker/dev/js/mobiscroll.core-2.5.2-zh.js"></script>
        <script src="/modules/plug/dataTimePicker/dev/js/mobiscroll.datetime-2.5.1.js"></script>
        <script src="/modules/plug/dataTimePicker/dev/js/mobiscroll.datetime-2.5.1-zh.js"></script>
    }
    <script type="text/javascript">
        $(function () {
            seajs.use("/modules/scripts/task/detail", function (taskDetail) {
                taskDetail.init(
                    '@(imagesUrl.Length>1?1:0)',
                     '@isOwner',
                    '@UserID',
                    '@taskJson'
                 );
            });
        })
    </script>
}
    <header>
        <a class="btn-return" href = "javascript:if(history.length>1){ history.go(-1);} else{location.href='/task/list'}"><i class="return-icon iconfont">&#xe60a;</i></a>
        <div class="task-text">@(task.title+"-"+task.ownerUser.name)</div>
        <div class="task-accept">
            @{
                if (task.finishStatus == 2)
                {
                    <span>已完成</span>
                }
                else
                {
                    if (!isOwner)
                    {
                        <span>@(task.finishStatus == 0 ? "未接收" : task.finishStatus == 1 ? "进行中" : "")</span>
                    }
                    else
                    {
                        if (task.finishStatus == 0)
                        {
                            <input type="text" class="btn-acceptTaskTime" readonly="true" value="接受任务"  />              
                        }
                        else if (task.finishStatus == 1)
                        { 
                            <input type="button" class="btn-finishTask"  value="标记完成"  />   
                        }
                    }
                }
            }  
        </div>
    </header>

    <div class="main_visual mTop50">
        <div class="flicking_con">
            @{
                if (imagesUrl.Length > 1)
                {
                    for (int i = 0; i < imagesUrl.Length; i++)
                    {
                        <a class="@(i == 0 ? "on" : "")" href="javascript:void(0);"></a>
                    }
                }
            }
        </div>
        <div class="main_image">
            <ul>
                @{
                    if (imagesUrl.Length > 0)
                    {
                        for (int i = 0; i < imagesUrl.Length; i++)
                        {
                            <li><img src="@(imagesUrl[i])"></li>
                        }
                    }
                }
            </ul>
            <div class="clear"></div>
        </div>
    </div>
    
    <!--任务信息-->
    <div class="task-info">
        <div class="main-info">
            <ul class="left-task-info mLeft10 mRight10">
                <li class="long" style="display:block;">
                    <span>订单款式：</span><span class="task-code base-info">@(string.IsNullOrEmpty(task.order.goodsName)?"--":task.order.goodsName)</span>
                </li>
                <li>
                    <span>发货日期：</span><span class="accept-time base-info">@(string.IsNullOrEmpty(task.order.planTime) ? "--" : DateTime.Parse(task.order.planTime).ToString("yyyy-MM-dd"))</span>
                </li>
                <li>
                    <span>到期日期：</span><span class="end-time base-info">@(string.IsNullOrEmpty(task.endTime) ? "--" : DateTime.Parse(task.endTime).ToString("yyyy-MM-dd"))</span>
                </li>
                <li>
                    <div class="left">
                        <span>完成日期：</span><span class="complete-time base-info">@(string.IsNullOrEmpty(task.completeTime) ? "--" : DateTime.Parse(task.completeTime).ToString("yyyy-MM-dd"))</span>
                    </div>
                    <div class="right">
                        <span>
                            @if (task.orderType == 1)
                            {
                                <i class="iconfont">&#xe612;</i>
                            }
                            else
                            {
                                <i class="iconfont">&#xe60f;</i>
                            }
                        </span>
                        <span class="base-info">
                            @(task.orderType == 1 ? "打样" : task.orderType == 2 ? "大货" : "")
                        </span>
                    </div>
                    <div class="clear"></div>
                </li>
            </ul>
            <ul class="right-task-info mRight10">
                <li>
                    <div class="dy-info">

                    </div>
                </li>
            </ul>
            <div class="clear"></div>
        </div>

        <div class="order-need">
            <div class="text-orderneed" style="width:75px;">订单需求：</div>
            <div class="pBottom10 mTop10" style="word-break:break-all;">@task.order.remark</div>
        </div>
        <div class="clear"></div>
    </div>

    <!--菜单-->
    <nav>
        <ul>
            <li  class="@(task.mark==0?"menuchecked":"")" data-classname="talk-status"><i class="iconfont">&#xe610;</i>讨论</li>
            @{
                if(task.mark==11){
                <li  class="menuchecked" data-classname="shop-status"><i class="iconfont">&#xe647;</i>@ModuleName</li>
                }
                else if(task.mark==12){
                <li class="menuchecked" data-classname="print-status"><i class="iconfont">&#xe617;</i>@ModuleName</li>
                }
                else if(task.mark==16){
                <li class="menuchecked" data-classname="navCosts"><i class="iconfont">&#xe617;</i>@ModuleName</li>
                }
                 else if(task.mark==15 && task.orderType==1){
                <li  class="menuchecked" data-classname="navSendDYDoc"><i class="iconfont">&#xe617;</i>@ModuleName</li>
                 }
                  else if(task.mark==13 && task.orderType==2){
                 <li  class="menuchecked" data-classname="navCutoutDoc"><i class="iconfont">&#xe617;</i>@ModuleName</li>
                  }
                  else if(task.mark==14 && task.orderType==2){
                 <li class="menuchecked" data-classname="navSewnDoc"><i class="iconfont">&#xe617;</i>@ModuleName</li>
                  }
                  else if(task.mark==15 && task.orderType==2){
                 <li class="menuchecked" data-classname="navSendDoc"><i class="iconfont">&#xe617;</i>@ModuleName</li>
                  }
            }
            <li  data-classname="log-status"><i class="iconfont">&#xe633;</i>日志</li>
        </ul>
        <div class="clear"></div>
    </nav>

    <!--显示区域-->
    <div class="main-box" data-status="4">
        <!--讨论模块-->
        <div class="talk-status">
            <!--讨论内容-->
            <div class="talk-content">
                <div class="talk-main"></div>
            </div>
            <div style="clear:both;"></div>      
            <!--回复-->
            <div class="return-msg">
                <div class="box-returnmsg">
                    <input type="text" readonly="true" placeholder="点击发表评论" class="txt-talkcontent" />
                </div>
            </div>
        </div>
        @{
            if(task.mark==11){
            <div class="shop-status hide"></div>
            }
            else if(task.mark==12){
             <div class="print-status hide">
                <h1 class="plate-remark-msg">制版信息</h1>
                 @{
                    if (!string.IsNullOrEmpty(task.order.platemaking)){
                    <div class="platemakingBody">@(new MvcHtmlString(Server.UrlDecode(task.order.platemaking)))</div>
                     }else{
                            <div class="nodata-txt">暂无制版信息</div>
                        }
                     }
                <h1 class="plate-remark-msg">工艺说明</h1>
                <div class="mTop10 tb-plates"></div>
            </div>
             }
              else if(task.mark==16){
                Html.RenderPartial("OrderCostDoc", "");
              }
              else if(task.mark==15 && task.orderType==1){
               Html.RenderPartial("SendDYDoc", "");
              }
            else if (task.mark == 13 && task.orderType == 2)
            {
              Html.RenderPartial("CutoutDoc", "");
            }
            else if (task.mark == 14 && task.orderType == 2)
            {
             Html.RenderPartial("SewnDoc", "");
            }
            else if (task.mark == 15 && task.orderType == 2)
            {
              Html.RenderPartial("SendDoc", "");
            }
        }
        <div class="log-status hide"></div>
    </div>

    <!--返回顶部-->
    <div class="getback">
        <div class="iconfont-back iconfont">&#xe643;</div>
    </div>

    <!--讨论浮层-->
    <div class="reply-layer hide">
        <div class="reply-layer-header center">
            <div class="left mLeft20 cancel-reply">取消</div>
            <span class="reply-title">发表讨论</span>
            <div class="right mRight20 finish-reply" style="font-size:16px;color:#fff;">发表</div>
        </div>
        <div class="reply-layer-content" spellcheck="false" contenteditable="true">
            <div style="display:block;min-height:40px;" class="text-content"></div>
            <ul class="pic-list task-file mTop20" id="pic-list" contenteditable="false"></ul>
            <div class="clear"></div>
            <ul class="doc-list task-file mTop20 upload-file" id="doc-list" contenteditable="false">
            </ul>
            <div class="clear"></div>
        </div>
        <div class="reply-layer-addition">
            <ul class="addition mRight20" id="addition">
                <li class="iconfont" id="reply-attachment">&#xe65a;</li>
            </ul>
        </div>
    </div>
